.banner{
  background-image: url('../images/banner.jpeg');
  background-size: cover;
  background-position: center bottom;
  height: calc(100vh - 80px);
  @include media-breakpoint-up(lg) {
    height: calc(100vh - 82px);
  }
}

.teach-img{
  height: 628px;
}

.teacher-img{
  width: 68px;
  height: 68px;
}

.teacher-img-lg{
  width: 94px;
  height: 94px;
}

.surroundingImg-lg{
  height: 210px;
  @include media-breakpoint-up(md) {
    height: 266px;
  }
  @include media-breakpoint-up(lg) {
    height: 444px;
  }
}

.surroundingImg-sm{
  height: 210px;
  @include media-breakpoint-up(md) {
    height: 117px;
  }
  @include media-breakpoint-up(lg) {
    height: 207px;
  }
}

.courseIntro-img{
  height: 165px;
  @include media-breakpoint-up(md) {
    height: 150px;
  }
  @include media-breakpoint-up(lg) {
    height: 445px;
  }
}