@include media-breakpoint-up(lg) {
  .position-lg-absolute{
    position: absolute;
  }
  .translate-lg-middle{
    transform: translate(-50%,-50%);
  }
  .text-lg-start{
    text-align: left;
  }
}

@include media-breakpoint-up(md) {
  .position-md-absolute{
    position: absolute;
  }
  .translate-middle-md-x{
    transform: translateX(-50%);
  }
}

.bg-container{
  background: $primary;
  @include media-breakpoint-up(lg) {
    background: transparent;
  }
}