.input-group{
  .btn{
    border-top-right-radius: $border-radius-sm;
    border-bottom-right-radius: $border-radius-sm;
  }
}

.select-wrap{
  position: relative;
  .form-select{
    background-image: none;
  }
  &::after {
    font-family: "Material Icons";
    content: "\e5cf";
    height: 24px;
    font-size: 24px;
    top: 9px;
    left: 77px;
    position: absolute;
    display: flex;
    align-items: center;
    pointer-events:none;
  }
}
